.button-upp {
    position: fixed;
    bottom: 2em;
    right: 1em;
    text-decoration: none;
    color: #000000;
 	cursor:pointer;   
	background-color: rgba(235, 235, 235, 0.80);
    font-size: 16px;
    padding: 1em;
    display: none;

}

